@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}

input::selection {
  background-color:black;
}

@font-face {
  font-family: "gilroy";
  src: url("./fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "gilroy_600";
  src: url("./fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "gilroy_600_italic";
  src: url("./fonts/Gilroy-BoldItalic.ttf");
}
@font-face {
  font-family: "gilroy_900";
  src: url("./fonts/Gilroy-BlackItalic.ttf");
}